<div id="loginCarousel" class="carousel slide top-50 login-carousel" data-bs-ride="carousel">
   @*  <div class="carousel-indicators">
        <button type="button" data-bs-target="#loginCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#loginCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#loginCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div> *@
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="\images\login-icon-two.svg" class="d-block w-100">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="\images\login-icon-two1.svg" class="d-block w-100">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="\images\login-icon-two2.svg" class="d-block w-100">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#loginCarousel" data-bs-slide="prev">
        <i class="fa-solid fa-chevron-left"></i>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#loginCarousel" data-bs-slide="next">
        <i class="fa-solid fa-chevron-right"></i>
    </button>
</div>